.custom-login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-login .paper-login {
  width: 50%;
}

@media screen and (max-width: 650px) {
  .custom-login .paper-login {
    width: 95%;
  }
}
/* body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */
