@font-face {
  font-family: "Josefin Sans";
  src: url("./fonts/KumbhSans-VariableFont_YOPQ,wght.ttf") format("truetype");
}

body {
  font-family: "Josefin Sans", sans-serif !important;
}

.m_8a5d1357  {
  font-family: "Josefin Sans", sans-serif !important;
}



/*purple - #4929a3 */